.main-container {
    min-height: 100vh;
    height: auto;
    background-color: #333;
    color: #f9f9f9;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.up-button {
    position: fixed;
    background-color: #333;
    outline: none;
    box-shadow: none;
    right: 0;
    top: 0;
}


/*Header*/
header {
    font-size: large;
}


/*Hero*/
.hero {
    margin-top: 15%;
    min-width: 50%;
    flex-grow: 1;
    width: 66%;
    height: fit-content;
    top: 1.5rem;
}

.hero .section-content .hero-title {
    z-index: 10;
    font-weight: bold;
}



.hero .section-content p {
    border-right: 2.5px solid orange;
    font-size: 24px;
}



/*About Me*/
.about-me {
    margin-top: 25%;
    width: 66%;
    height: fit-content;
    top: 1.5rem;
}

.about-me .section-content .about-me-title{
    z-index: 10;
}

.about-me-title::after {
    position: absolute;
    margin-top: .65em;
    content: "";
    height: 0px;
    margin-left: 2.5%;
    max-width: 50%;
    width: 100%;
    border-width: 2.5px 0 0 0;
    border-color: orange;
    border-style: solid;
    z-index: 0;
}

.about-me .section-content p{
    padding-left: 25px;
    border-left: 2.5px solid orange;
    font-size: 20px;
}



/*Skills*/
#skills-flex {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    column-gap: 5px;

}
.skills-card{
    box-sizing: border-box;
    border-style: solid;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-basis: 30%;
    flex-shrink: 0;
    align-items: center;
}


/*Work History*/
.work-history {
    margin-top: 5%;
    width: 66%;
    height: fit-content;
    top: 1.5rem;
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: 2.5px solid orange;
}

.job-history {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.job-item {
    display: flex;
    background-color: #424242;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.company-logo {
    flex: 0 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px;
}
.company-logo svg{
    max-width: 100%;
    max-height: 60%;
    object-fit: contain;
}

.job-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding:  10px 20px;
}

.job-details > div {
    margin-bottom: 5px;
}

.company-name {
    color: #f9f9f9;
    font-weight: bold;
    font-size: 1.2em;
}

.position {
    color: #f8f8f8;
    font-size: 1.2em;
}
.tenure {
    color: #f8f8f8;
    font-size: 0.9em;
}

/*Projects*/
.projects {
    margin-top: 5%;
    height: fit-content;
    width: 66%;
    font-size: 18px;
}
.project-name {
    font-weight: bold;
    text-decoration: underline;
}
.light-subtle{
    background-color: #424242 !important;
}
.light-light-subtle {
    background-color: #545454 !important;
}
.project-logo-1 {
    width: 168px;
    height: 205px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.project-logo-2 {
    width: 168px;
    height: 205px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
.project-logo-3 {
    width: 168px;
    height: 202px;
    margin-left: auto;
    margin-right: auto;
}
/*Footer*/
footer {
    width: 100%;
}


/*Mobile Devices*/
@media (max-width: 768px) {
    .main-container {
        padding: 10px;
    }

    .up-button {
        top: 60px;
        right: 5px;
        z-index: 10;
    }

    /*Header*/
    header {
        font-size: medium;
        text-align: center;
    }

    /*Hero*/
    .hero {
        margin-top: 25%;
        width: 90%;
    }

    .hero .section-content p {
        font-size: 18px;
        border-right: none; /* Remove borders that might clutter on small screens */
    }

    /*About Me*/
    .about-me {
        margin-top: 75%;
        width: 90%;
    }

    .about-me-title::after {
        max-width: 5%;
        margin-left: 5%;
    }

    .about-me .section-content p {
        padding-left: 15px;
        font-size: 16px;
        border-left: none; /* Remove borders for cleaner look */
    }

    /*Skills*/
    #skills-flex {
        margin-top: 5%;
        flex-direction: row;
        row-gap: 10px;
        column-gap: 0;
    }

    .skills-card {
        flex-basis: 7.5%; /* Make each card full width on small screens */
        font-size: 18px;
    }

    /*Work History*/
    .work-history {
        margin-top: 15%;
        width: 90%;
        border-right: none;
        padding: 0; /* Remove padding to save space */
    }

    .job-item {
        flex-direction: column;
        font-size: 16px;
    }

    .company-logo {
        flex: none;
        margin-bottom: 10px; /* Move logo above details */
    }

    /*Projects*/
    .projects {
        margin-top: 10%;
        width: 90%;
        align-items: center;
    }

    .project-logo-1 {
        width: 100px;
        height: auto;
        margin: auto auto; /* Adjust logo size */ 
    }

    .project-logo-2 {
        width :200px;
        height: auto;
        margin: auto auto;
    }
    .project-logo-3 {
        width: 100px;
        height: auto;
        margin-right: 40%;  
    }

    /*Footer*/
    footer {
        text-align: center;
    }
}